{% extends "templates/base.html" %}

{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<title>Register</title>
{% endblock meta %}
{% block content %}
{% include 'registration/pop_login.html'%}
{% endblock %}
