{% block pop_login%}
<h1>Login Account</h1>
<form method="POST" action="{% url 'login' %}" class="from-group">
    {% csrf_token %}
    <table> {{form.as_table}} </table>
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <input type='submit' class="cta cta-text text-shadow" value="Login" />
</form>
{% endblock pop_login%}
