{% extends "templates/base.html" %}

{% block meta %}
    <title>Home - Living Through COVID</title>
{% endblock meta %}

{% load static %}

{% block content %}
<body>
    <div class="hero">
        <img class="home-logo" src="{% static 'home/greenlogo.png' %}">
        <p class="main-title text-glow" style="margin-bottom: 16px;">Living through COVID-19 with us.</p>
        <p class="button-text-dummy" style="margin-bottom: 16px;">Through these hard and challenging times, Living Through COVID is here to help you stay healthy, feel safe, and live happily.</p>
        <a href="#cards">
            <button class="cta">
                <p class="cta-text text-shadow">Start now</p>
            </button>
        </a>
        
    </div>

    <div class="home-cards-container" id="cards">
        <a href="/quiz">
            <div class="home-card card">
                <img class="home-img" src="{% static 'home/quiz.png' %}">
                <p class="header">Mini-Test</p>
                <p class="text">See if you’re infected and need to get treatment.</p>
            </div>
        </a>
        <a href="/tracker">
            <div class="home-card card">
                <img class="home-img" src="{% static 'home/tracker.png' %}">
                <p class="header">Tracker</p>
                <p class="text">Know how other provinces are doing in this pandemic.</p>
            </div>
        </a>
        <a href="/report">
            <div class="home-card card">
                <img class="home-img" src="{% static 'home/report.png' %}">
                <p class="header">Report</p>
                <p class="text">Report citizens that may be infected by COVID.</p>
            </div>
        </a>
        <a href="/todolist">
            <div class="home-card card">
                <img class="home-img" src="{% static 'home/todolist.png' %}">
                <p class="header">To-Do List</p>
                <p class="text">Check if you’re well prepared to go out in the pandemic.</p>
            </div>
        </a>  
    </div>
    
</body>
{% endblock content %}

