{% extends 'templates/base.html' %}

{% block meta %}
    <title>Report - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div style="min-height: 600px;">
    <p class="header center">Report The Suspect</p>
    <p class="button-text-dummy center">Complete the suspect’s biodata below.</p>
    </br>
    <form id="form" method="POST" action="/report/save/">
            {% csrf_token %}
            <div class="row">
                <p class="button-text-dummy col-2" style="position: relative; top: 0.5em;">Nama</p>
                <p class="button-text-dummy col-0" style="position: relative; top: 0.5em;">:</p>
                <p class="col">{{ inputForm.nama_suspek }}</p>
            </div>
            <div class="row">
                <p class="button-text-dummy col-2" style="position: relative; top: 0.5em;">Alamat</p>
                <p class="button-text-dummy col-0" style="position: relative; top: 0.5em;">:</p>
                <p class="col">{{ inputForm.alamat }}</p>
            </div>
            <div class="row">
                <p class="button-text-dummy col-2" style="position: relative; top: 0.5em;">Tanggal Lahir</p>
                <p class="button-text-dummy col-0" style="position: relative; top: 0.5em;">:</p>
                <p class="col">{{ inputForm.tanggal_lahir }}</p>
            </div>
            <div class="center">
                <input id="submit" type="submit" class="cta m-5 cta-text text-shadow" value="Submit">
            </div>
    </form>
</div>
    
{% endblock content %}