{% extends 'templates/base.html' %}
{% load static %}

{% block meta %}
    <title>Report - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div style="min-height: 600px;">
    <p class="main-title text-glow center">Report</p>
    <p class="button-text-dummy center">This feature is useful for seeing and reporting suspects around you.</p>
    <br>
    <div class="center">
        {% if user.is_authenticated %}
        <a href="{% url 'report:new' %}">
        {% else %}
        <a id=popup>
        {% endif %}
            <button class="cta">
                <p class="cta-text text-shadow">+ New Report</p>
            </button>
        </a>
        <a href="#collapseDataReport" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDataReport">
            <button class="shadow-cta visibility" onclick="toggle('#visibility')">
                <p class="shadow-cta-text" id="visibility">See Report</p>
            </button>
        </a>
    </div>
    <br>

    <div class="collapse" id="collapseDataReport">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text cta" style="border-radius: 0px;">
                    <div class="cta-text text-shadow" id="search-icon">Search</div>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search by name" id="user-input" >
        </div>

        <div class="table-responsive">
            <table id="replaceable-content" class="table table-bordered" style="background-color: var(--green-bg);">
            {% include 'report/suspects.html' %}
            </table>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
        {% include 'registration/pop_login.html'%}
    </div>
</div>
    
<script type="text/javascript" src="{% static 'report.js' %}"></script>

{% endblock content %}