{% if suspects %}
<thead>
    <tr>
        <td>Name</td>
        <td>Birth Date</td>
        <td>Address</td>
        <td>Status</td>
    </tr>
</thead>
<tbody>
    {% for person in suspects %}
    <tr>
        <td>{{ person.nama_suspek}}</td>
        <td>{{ person.tanggal_lahir }}</td>
        <td>{{ person.alamat }}</td>
        <td>{{ person.status }}</td>
    </tr>
    {% endfor %}
</tbody>
{% else %}
<p class="text center">No data avalaible<p>
{% endif %}