{% extends 'templates/base.html' %}

{% block meta %}
    <title>To-Do List - Survive COVID</title>
{% endblock meta %}

{% block content %}

<div style="display: flex; align-items: center; flex-flow: column nowrap; min-height: 600px;">

<p class="header" style="margin-bottom: 24px;">Add a new to-do list</p>

<form method="POST" style="display: flex; align-items: center; flex-flow: column nowrap;">
    {% csrf_token %}
    <div style="margin-bottom: 16px;">
        <p class="button-text-dummy" style="margin-bottom: 8px;">List name</p>
        {{ todo_list.nama_list }}
    </div>

    <div style="margin-bottom: 16px;">
        <p class="button-text-dummy" style="margin-bottom: 8px;">List description</p>
        {{ todo_list.deskripsi }}
    </div>

    <div class="todolist-form">
        <div class="todolist-smallform">
            <p class="button-text-dummy" style="margin-bottom: 8px;">To-do list points</p>
            <p style="margin-bottom: 4px;">{{ todo_list.todo1 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.todo2 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.todo3 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.todo4 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.todo5 }}</p>
        </div>
    
        <div class="todolist-smallform">
            <p class="button-text-dummy" style="margin-bottom: 8px;">To-bring list points</p>
            <p style="margin-bottom: 4px;">{{ todo_list.tobring1 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.tobring2 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.tobring3 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.tobring4 }}</p>
            <p style="margin-bottom: 4px;">{{ todo_list.tobring5 }}</p>
        </div>
    </div>

    <p onclick="snackBar()" class="cta-text text-shadow">
        <input type='submit' class="cta cta-text text-shadow" value="Submit list" />
    </p>
</form>

</div>

{% endblock content %}