{% extends 'templates/base.html' %}
{% load static %}

{% block meta %}
<title>To-Do List - Survive COVID</title>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer>
    $(document).ready(function () {
        function hocky(e) {
            e.preventDefault();
            let que = $('#search-url').val();
            $.ajax({
                url: window.location.origin + '/todolist/search/' + que,
                success: function (data) {
                    console.log(data);
                    let parent = $('#hasilsearch');
                    let items = data["items"];
                    let length = data["length"];
                    let inner = '';
                    for (let i = 0; i < length; i++) {
                        let json = items[i];
                        console.log(json);
                        inner += '<div class="list-card" style="margin: 8px;">';
                        inner += '<div class="flip card todolist-card">';
                        inner += '<p class="small-text">WHAT TO BRING FOR</p>';
                        inner += '<a href="' + json.id + '">';
                        inner += '<p class="subheader" style="margin-bottom: 4px;">' + json.nama + '</p>';
                        inner += '</a>';
                        inner += '<p class="text">' + json.deskripsi + '</p>';
                        inner += '<a class="toggle">';
                        inner += '<p class="text" style="margin: 8px 0; text-align: center;">Sneak peek v</p>';
                        inner += '</a>';
                        inner += '<div class="hidden">';
                        inner += '<p class="text">To do: ' + json.todo1 + '</p>';
                        inner += '<p class="text">To bring: ' + json.tobring1 + '</p>';
                        inner += '<p class="text">and many more!</p>';
                        inner += '</div></div></div>';
                        console.log(inner);
                    }

                    parent.html(inner);
                    $('.toggle').click(function (e) {
                        let $this = $(this);
                        console.log($this);
                        if ($this.next().hasClass('show')) {
                            $this.next().removeClass('show');
                            $this.next().slideUp(350);
                        } else {
                            console.log($this.next());
                            $this.next().toggleClass('show');
                            $this.next().slideToggle(350);
                        }
                    });

                    $('.list-card').css("transition", "transform 500ms ease-in-out");

                    $('.list-card').hover(
                        function () {
                            $(this).css("transform", "scale(1.2)");
                        },
                        function () {
                            $(this).css("transform", "scale(1)");
                        }
                    );
                }
            }
        );
        }


        $(function () {
            $(".sortable").sortable();
        });

        $('.toggle').click(function (e) {
            let $this = $(this);
            console.log($this);
            if ($this.next().hasClass('show')) {
                $this.next().removeClass('show');
                $this.next().slideUp(350);
            } else {
                console.log($this.next());
                $this.next().toggleClass('show');
                $this.next().slideToggle(350);
            }
        });

        $('.list-card').css("transition", "transform 500ms ease-in-out");

        $('.list-card').hover(
            function () {
                $(this).css("transform", "scale(1.2)");
            },
            function () {
                $(this).css("transform", "scale(1)");
            }
        );
        
        $('#search-url').attr("value", "a");
        $('#search-form').submit(hocky);
        $('#search-form').submit();
        $('#search-url').keyup(hocky);
    });
</script>
<style>
    .hidden {
        display: none;
        overflow: hidden;
    }
</style>
{% endblock meta %}

{% block content %}

<div style="display:flex; align-items: center; flex-flow: column nowrap; min-height: 600px;">

    <div class="todolist-header" style="margin-bottom: 24px;">
        <p style="margin-bottom: 8px;  text-align: center;" class="main-title">Keep yourself safe.</p>
        <p style="margin-bottom: 8px; text-align: center;" class="button-text-dummy">With these to-do lists, you can
            check what you need to keep yourself safe when doing certain activities in this pandemic. You can even make
            your own to help others!</p>
        <div style="display: flex; flex-flow: row wrap;">
            <a style="margin: 8px;" href="#all-lists">
                <button class="cta">
                    <p class="cta-text text-shadow">Try a list</p>
                </button>
            </a>
            {% if user.is_authenticated %}
            <a style="margin: 8px;" href="/todolist/form/">
                <button class="shadow-cta">
                    <p class="shadow-cta-text">Make your own</p>
                </button>
            </a>
            {% else %}
            <a style="margin: 8px;" id="popup">
                <button class="shadow-cta">
                    <p class="shadow-cta-text">Make your own</p>
                </button>
            </a>
            {% endif %}
        </div>
    </div>

    <form style="display: flex; flex-flow: row wrap; align-items: center; justify-content: center;" id="search-form">
        <input type="text" id="search-url" />
        <input type='submit' class="cta cta-text text-shadow" value="Search" />
    </form>

    <div id="hasilsearch" class="sortable" style="margin-bottom: 24px; display:flex; justify-content: center; flex-flow: row wrap;">
        <!--{% for list in lists %}
        <div class="list-card" style="margin: 8px;">
            <div class="flip card todolist-card">
                <p class="small-text">WHAT TO BRING FOR</p>
                <a href="{{ list.id }}">
                    <p class="subheader" style="margin-bottom: 4px;">{{ list.nama_list}}</p>
                </a>
                <p class="text">{{ list.deskripsi}}</p>
                <a class="toggle">
                    <p class="text" style="margin: 8px 0; text-align: center;">Sneak peek v</p>
                </a>
                <div class="hidden">
                    <p class="text">To do: {{ list.todo1 }}</p>
                    <p class="text">To bring: {{ list.tobring1 }}</p>
                    <p class="text">and many more!</p>
                </div>
            </div>
        </div>
        {% endfor %}-->
    </div>

</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
        {% include 'registration/pop_login.html'%}
    </div>
</div>

{% endblock content %}