{% extends 'templates/base.html' %}

{% block meta %}
    <title>Mini-Test - Survive COVID</title>
{% endblock meta %}

{% block content %}
{% load static %}
<div style="min-height: 600px;">
    <div class="columns has-text-centered is-centered">
        <div class="column is-8">
            {% if counter == 0 %}
                <p class="main-title text-glow">You are okay.</p>
            {% elif counter < 15 and counter > 0 %}
                <p class="main-title text-glow">You might be not okay!</p>
                <p class="subheader">Other illness you might have: Cold</p>
            {% elif counter >= 15 %}
                <p class="main-title text-glow">You might be infected!</p>
                <p class="subheader">Other illnesses you might have: Cold and Flu</p>
            {% endif %}
        </div>
    </div>
    
    <div class="columns has-text-centered is-centered">
        <div class="column">
            <div class="card mr-1 ml-1" style="width: 220px;" id="jarak">
                <img class="home-img" src="{% static 'quiz/1.png' %}" style="height: 150px;">
                <p class="header pt-1">Keep your distance</p>
            </div>
            <div class="card ml-1 mr-1" style="width: 220px;">
                <img class="home-img" src="{% static 'quiz/quiz.png' %}" style="height: 150px;">
                {% if counter < 15 %}
                <p class="header pt-1">Stay healthy</p>
                {% elif counter >= 15 %}
                <p class="header pt-1">Do check up</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="columns has-text-centered is-centered">
        <div class="column is-8">
            <p class="subheader pb-2">Suggest a question</p>
            <a href="{% url 'suggest' %}">
                <button class="shadow-cta">
                    <p class="shadow-cta-text">Suggest</p>
                </button>
            </a> 
        </div>
    </div>
</div>
<script>
    $("#jarak").mouseenter(function(){
        alert("Diam di rumah dan hindari kerumunan :)");
    });
</script>



{% endblock content %}