{% extends 'templates/base.html' %}

{% block meta %}
<title>Mini-Test - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div style="min-height: 600px; align-items: center;">
    <div class="columns has-text-centered is-centered">
        <div class="column is-8">
            <p class="subheader">Thank you for your suggestion!</p>
        </div>
    </div>
    
    <div class="columns has-text-centered is-centered">
        <div class="column is-8">
            <p class="subheader pb-2">Suggest another question</p>
            <a href="{% url 'suggest' %}">
                {% csrf_token %}
                <button class="shadow-cta">
                    <p class="shadow-cta-text">Suggest</p>
                </button>
            </a>
            <a id="look">
                <button class="cta">
                    <p class="cta-text text-shadow">Suggested Question</p>
                </button>
            </a>
        </div>
    </div>

    <div class="columns has-text-centered is-centered">
        <div class="column is-8" id="pertanyaan">
            <table>
                
            </table>
        </div>
    </div>
</div>

<script>
    $("#look").click(function() {
      $.ajax({
        url: "/quiz/data/",
        success: function(hasil) {
          var obj_hasil = $("#pertanyaan");
          obj_hasil.empty();
          for (i = 0; i < hasil.length; i++) {
            var tmp_title = hasil[i].pertanyaan;
            console.log(tmp_title);
            obj_hasil.append("<p>" + tmp_title + "</p>")
            obj_hasil.append("----------")
          }
        }
      });
    });
  </script>
{% endblock content %}