{% extends 'templates/base.html' %}

{% block meta %}
    <title>Mini-Test - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div class="columns has-text-centered is-centered" style="min-height: 600px; align-items: center;">
    <div class="column is-7">
        <p class="header">Suggest a new question</p>
        <p class="button-text-dummy pb-3">New Question</p>
        <form action="{% url 'suggest' %}" method="POST" id="form">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button class="cta">
                <p class="cta-text text-shadow">Submit</p>
            </button> 
        </form>
    </div>
</div>
<script>
    $('#form').submit(function() {
        var c = confirm("Click OK to continue?");
        return c;
    });
</script>
{% endblock content %}