{% extends 'templates/base.html' %}

{% block meta %}
<title>Tracker - Survive COVID</title>
{% endblock meta %}

{% block content %}
<div style="min-height: 600px;">
    <p class="header">Province 404?</p>
    <p class="button-text-dummy">Be a Hero and Add the Province to Our Database</p>
    <form method="POST" action="/tracker/save_page">
        {% csrf_token %}
        <table>{{ create_form.as_table }}</table>
        <p class="cta-text text-shadow"><input type='submit' class="cta cta-text text-shadow" value="Save" /></p>
    </form>
</div>


{% endblock content %}
