{% extends 'templates/base.html' %}

{% block meta %}
<title>Tracker - Survive COVID</title>
{% endblock meta %}

{% block content %}
<p class="main-title text-glow">Status Report Victims of COVID-19</p>
<p class="header">Feeling Worried? Tried Searching</p>
<form method="POST" id="search-form">
    {% csrf_token %}
    <div>
        {{search_form}}
        <p class="cta-text text-shadow">
            <input type='submit' class="cta cta-text text-shadow" value="Search" />
            {% if user.is_authenticated %}
            <a class=" cta cta-text text-shadow" href="{% url 'tracker:create_page' %}">Create Provinsi</a>
            {% else %}
            <a id="popup" class=" cta cta-text text-shadow">Create Provinsi</a>
            {% endif %}
        </p>
    </div>
</form>



<table id="provinces" class="table is-bordered">
    <thead>
        <tr>
            <td>Provinsi</td>
            <td>Kasus Positif</td>
            <td>Kasus Sembuh</td>
            <td>Kasus Meninggal</td>

        </tr>
    </thead>
    <tbody id='tbody'>
    </tbody>
</table>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
        {% include 'registration/pop_login.html'%}
    </div>
</div>

{% endblock content %}
