<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <a class="logo" href="/"><img class="icon" src="{% static 'pics/logo.png' %}" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="/tracker">Tracker</a></li>
                <li><a href="/quiz">Mini-Test</a></li>
                <li><a href="/todolist">To-Do List</a></li>
                <li><a href="/report">Report</a></li>
                {% if user.is_authenticated %}
                <li>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">{{user.username}}</a>
                        <div class="navbar-dropdown">
                            <a href="/logout" style="color: black;">Logout</a>
                        </div>
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Account</a>
                        <div class="navbar-dropdown">
                            <a href="/register" style="color: black;">Register</a>
                            <a href="/login" style="color: black;">Login</a>
                        </div>
                    </div>

                </li>
                {% endif %}
            </ul>
        </nav>
        <p class="menu nav-cta">
            <i class="fa fa-bars"></i>
        </p>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a class="closetext" href="/">Home</a>
            <a class="closetext5" href="/tracker">Tracker</a>
            <a class="closetext2" href="/quiz">Mini-Test</a>
            <a class="closetext3" href="/todolist">To-Do List</a>
            <a class="closetext1" href="/report">Report</a>

            {% if user.is_authenticated %}
            <a class="navbar-link">{{user.username}}</a>
            <a href="/logout" class="closetext">Logout</a>
            {% else %}
            <a href="/register" class="closetext">Register</a>
            <a href="/login" class="closetext">Login</a>
            {% endif %}

        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</body>

</html>
